spring:
  datasource:
    url: jdbc:mysql://mysql-recommendation:3306/recommendation_db?useSSL=false&allowPublicKeyRetrieval=true
    username: edufy
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

logging:
  file:
    name: logs/recommendationservice.log
  level:
    root: INFO
